/* FORM ELEMENTS */
.simple-dropdown {
    margin: 0px;    
    border-radius: 3px;
    padding: 5px 10px;   
}




table.table-data td {
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
}

table.table-data {
    width: 100%;
}
